

.container{
   
  /* Create the parallax scrolling effect */

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 
    min-height: 100vh;
background-image: url("../../public/beige.png");
display: flex;
flex-direction: column;
align-items: center ;
justify-content: center;

font-size: 59px;
font-weight: 900;

  }
 
  

 @media only screen and (max-width: 1200px) {
 
  }
  