.containerBox {
  background-color: transparent;
    color: white;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    position: fixed;
   
    width: 100%;
    box-sizing: border-box;
  
  }

 
  .containerBoxAfterScroll{
    box-shadow: rgba(88, 88, 88, 0.45) 0px 25px 20px -20px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    position: fixed;
   
    width: 100%;
    box-sizing: border-box;

    background-color: white;
transition: background 0.4s;
color: black

  }
  .menuPadding{
    height: 155.2px;
  }

  .logo{ display: flex; align-items: center; gap: 20px;
    font-family: 'Limelight', cursive;
    font-size: 87px;
  }

  .logo2{ font-size: 12px;
    font-weight: 600;
  }
  .container {
  display: flex;
  border-radius: 10px;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: bolder;
  gap: 20px;
}

.containerMobile{
  display: flex;
  flex-direction: column;
}

.mobileContainer {
  display: none;
}


.box{
 display: flex;
 flex-direction: column;
 border: #43b1a8 solid 3px;
}


.underlineButton {
  text-transform: uppercase;
  color: inherit;
  font-size: 108%;
 font-weight: 500; 
  
	text-decoration: none;
	background: linear-gradient(#111111, #0c0b0b) bottom / 0 .1em no-repeat;
	transition:  0.5s ;
  background-position: left bottom;

}

.underlineButton:hover {
	background-size: 100% .2px;
}

/* Variations */
.underlineButton.left {
	background-position: left bottom;
}

@media only screen and (max-width: 768px) {
  .mobileContainer {
    display: block;
  }

  .container {
    display: none;
    color: #101010;
  }
}
