.container {
    display: flex;

  color: white;
    align-items: flex-start;
    gap: 50px;
    
    padding: 5px;
    background-color: black;
  }
  .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    gap: 15px;
  }