
.customMuiButton.MuiButton-root{
    text-transform: initial ;
    height:50px;
    width: 100px;
    font-family: "Montserrat", sans-serif;
   
    background-color: #59bab2;
    color: white;
    border-radius: 13px !important;
    font-size: 18px !important;
    border:  #59bab2 2px solid;
    }
.timePicker{
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 22px;
    font-weight: 700;
}
    .customMuiButton.MuiButton-outlined{
        background-color: white;
        color: rgba(35, 33, 33, 0.749);
        border:  #59bab2 2px solid;
    }

    .customMuiButton.MuiButton-root:hover{
  background-color:  #59bab2;
  border:  #59bab2 2px solid;
       
        }


        
.customMuiButton.MuiButton-root.Mui-disabled{
    font-size: 14px !important;
    font-weight: 600;
   color:  rgb(70, 69, 69);
   border:   rgb(193, 193, 193) 2px solid;
}
    
        .customMuiButton.MuiButton-outlined:hover{
            background-color: #59bab2;
            color: white;
        }
    
    
