
.form {
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    border-radius: 12px;

  }
  .container {
   
    
  width: 100%;
    
  }
  
  .button {
    width: 300px;
    height: 80px;
    border-radius: 27px;
  
    outline: none;
    border: none;
    
    font-size: 20px;
    color:white;
    background-color:black;
  }
  .button:hover {
    color: black;
    background-color: rgb(255, 228, 196,0.6);
    border: #59bab2 solid 3px;
    outline: none;
   
  
    font-weight: bold;
  }
  