.MuiDateCalendar-root .MuiPickersDay-root,.MuiDateCalendar-root .MuiDayCalendar-weekDayLabel 
    {
        font-family: "Montserrat", sans-serif;
     font-weight: 500;
    width: 60px;
    height: 60px;
    font-size: 13px;
    color: rgb(20, 20, 20);
    border-radius: 24px;
    
}
.MuiDateCalendar-root {
    width: 480px !important;
    max-height: 480px !important; 
}
.MuiDateCalendar-root .MuiPickersLayout-contentWrapper,
.MuiDateCalendar-root .MuiPickersSlideTransition-root{
        height: 900px ;
    }

    .calendarDatePicker .MuiTypography-root.MuiTypography-body2 {
        font-family: "Montserrat", sans-serif;
        font-size: 13px;
        font-weight: 700;
   
padding-bottom: 20px;    }
      

.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit{
    color: black;
    
}


.MuiDateCalendar-root .MuiTypography-body{
     font-weight: 700 ;
    }


 .MuiPickersCalendarHeader-label{
    padding-left: 13px;
        font-size: 13px;
        font-weight: 700;
        color: black;
        font-family: "Montserrat", sans-serif;
     
    }
    
    
    .MuiDateCalendar-root .MuiButtonBase-root.Mui-selected 
    {background-color:#59bab2 !important;
        
    }
   
    
.MuiInputBase-root.MuiOutlinedInput-root {
    border-radius: 9px !important;
   font-weight: 500;
    height: 54px;
    font-family:   "Montserrat", sans-serif;
       
          font-size:13px
}

.MuiTypography-root.MuiTypography-body2{
    font-family:   "Montserrat", sans-serif;
    
    font-size:13px
}


