
.form {
    padding: 10px;
    background-color:white;
  
    border-radius: 12px;
width: 1200px;
  }
  
  
  
  .button {
    width: 300px;
    height: 80px;
    border-radius: 27px;
  
    outline: none;
    border: none;
    
    font-size: 20px;
    color:white;
    background-color:black;
  }
  .button:hover {
    color: black;
    background-color: rgb(255, 228, 196,0.6);
    border: #59bab2 solid 3px;
    outline: none;
   
  }
  .buttonn {
    width: inherit;
    border-radius: inherit;


    background-color:white;
  }


  .scroll {
    max-height: 900px;
    overflow: scroll;
}

@media only screen and (max-width: 768px) {
 
  .scroll {
    max-height: 600px;
    overflow: scroll;
}
}
