
   .container{
   
    width: 100%;

   }

   .img{
    width: 500px;
    height: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   }
   .h3{
    font-size: 24px;
    text-transform: uppercase;

    font-weight: 500;
    color: black;

   
   }
  

   .imageWrap img {
    transform: scale(0.9);
    transition: 6s;
    max-width: 100%;
  }
  
  .animating .imageWrap {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    visibility: visible;
    transform: skewY(0);
  }
  
  .animating img {
    transform: scale(1);
    transition: 1s ease-out;
    max-width: 100%;
  }
 