.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.form{
   display: flex;
   flex-direction: column;
   gap: 20px;
        
    border-radius: 10px;
}
.icons{
    display: flex;
   align-items: center;
    font-size: 19px;
    gap: 25px;
  }
  .timeBox{
    padding: 5px;

  }
  .timeText{
    
    font-size: 23px;
    font-weight: 400;
  }