.container{
padding: 40px;
}
.form{
   display: flex;
   flex-direction: column;
   gap: 20px;
        font-weight: 500;
    border-radius: 10px;
}
.icons{
    display: flex;
   align-items: center;
    font-size: 19px;
    gap: 25px;
  }
  .timeText1{
    font-weight: 700;
    text-decoration: underline 2px;
    font-size: 21px;
  }
  .timeText{
    
    font-size: 21px;
    font-weight: 500;
  }