.modalMuiButton.MuiButton-root{
     font-family: "Montserrat", sans-serif;
     font-weight: 700;
     height: 94px;
     width: 288px;
     font-size: 17px;
 
         border-radius: 13px;
    background-color:#39c9bb;
    color: white;
    border-radius: 14px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    text-transform: initial;
    
    
}

.modalMuiButton.MuiButton-root:hover{
    background-color: #3fe0d0;
    font-weight: 700;
}




