.modalMuiButton.MuiButton-root{
     font-family: "Montserrat", sans-serif;
     font-weight: 400;
    height:100px;
    width: 320px;
    font-size: 20px;
         border-radius: 13px;
    background-color: #59bab2;
    color: white;
    border-radius: 30px;
}

.modalMuiButton.MuiButton-root:hover{
    background-color: #3fe0d0;
    font-weight: 400;
}
.modalConatiner{

display: flex;
justify-content: center;
align-items: center;
}