.priceContainer{
   background-image: url("../../public/beige.png");
background-size: cover;

display: flex;
align-items: center;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
 min-height: 600px;
  }
.priceMuiButton.MuiButton-root{
    font-family: "Montserrat", sans-serif;
      
   height:105px;
   width: 350px;
   font-size: 20px;
        border-radius: 13px;
        color: rgb(153, 149, 149);
   
   border-radius: 30px;
}

.priceMuiButton.MuiButton-root:hover{
   background-color:rgb(255, 255, 255,0.4) ;
   color: white;
 
  transition: 1.5s;
 
}



.priceSecondMuiButton.MuiButton-root{
   font-family: "Montserrat", sans-serif;
      
  height:135px;
  width: 600px;
  font-size: 20px;
       border-radius: 13px;
       color: rgb(153, 149, 149);
    
  border-radius: 30px;
}

.priceSecondMuiButton.MuiButton-root:hover{
   background-color:rgb(255, 255, 255,0.4) ;
   color: white;
 
  transition: 1.5s;
}


.priceEuros{
   display: flex;
   font-size: 30px;
   font-weight: 400;
   align-items: center;
   justify-content: center;
}