.priceContainer{
   background-image: url("../../public/beige.png");
background-size: cover;

display: flex;
align-items: center;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
 min-height: 600px;
  }
.underlineButton{
   color: white;
   font-size: 17px;

}
.priceEuros{
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 20px;
   font-weight: 700;
}

.priceButtonsAling{
   display: flex;
   gap: 30px;
}